**Class**

In [1]:
class bmw:
  def __init__(car,name,model,color,engine):
    car.name = name
    car.model = model
    car.color = color
    car.engine = engine

  def __str__(car):
    return f"Name: {car.name}\nModel: {car.model}\nColor: {car.color}\nEngine: {car.engine}"
  
 
car1 = bmw ("odi", 2004, "black", "v8")
print(car1)

Name: odi
Model: 2004
Color: black
Engine: v8

In [4]:
class Toyota:
    def __init__ ( self, markx, toyota, black, v6, model ):
        self.name = markx
        self.company = toyota
        self.colour = black
        self.engine = v6
        self.model = model

    def __str__(self):
        return f"Name: {self.name}\nCompany: {self.company}\nColour: {self.colour}\nEngine: {self.engine}\nModel: {self.model}"

mycar = Toyota("landcrusier","toyota","black","v6",2003)
print(mycar)

Name: landcrusier
Company: toyota
Colour: black
Engine: v6
Model: 2003

**Modules**

In [ ]:
import greeting
greeting

**Error Handling in Python**

In [ ]:
try:
    num = int(input("Enter the number = "))
    result = num / 10
    print(f"YOUR RESULT: {result}")

except ZeroDivisionError:
    print("Error: You cannot divide by zero!")

except ValueError:
    print("Invalid input! Please enter a number.")

except Exception as e:
    print(f"Some unexpected error occurred:")

Enter the number = 7
YOUR RESULT: 0.7

**Condition VS Range** ✅

In [ ]:
for number in range(5):  # This generates numbers from 0 to 4 (not including 5)
    print(number)



age = 18
if age >= 18:  # This condition checks if age is 18 or greater
    print("You are an adult.")

0
1
2
3
4
You are an adult.

**While Loop** ✅

In [ ]:
time = 10

while time >= 1 :
  print(f"start {time}...")
  time -= 1

print("GOOD NIGHT")

start 10...
start 9...
start 8...
start 7...
start 6...
start 5...
start 4...
start 3...
start 2...
start 1...
GOOD NIGHT

**For Loop** ✅

In [ ]:
number = [ 1, 2, 3, 4, 5, ]

for num in number:
  print( num**2 )

1
4
9
16
25

In [ ]:
students = [ "ayesha", "mariyam", "usman", "hamza", "sadia","duad","furqan" ]
for students in students:
  print(students)

ayesha
mariyam
usman
hamza
sadia
duad
furqan

In [ ]:
for e in range (1,4):
  print(e)

1
2
3

**Dictionary Example** ✅

In [ ]:
user1 : dict = {
    "name" : "hamza",
    "class" : 15,
    "roll_no" : "pkaaaa"
}

user2 : dict = {
    "name" : "usman",
    "class" : 19,
    "roll_no" : "pkaaabb"
}
user3 : dict = {
    "name" : "usman",
    "class" : 19,
    "roll_no" : "pkaaa77"
}

print(user2["name"])
print(user3["roll_no"])
print(user2)

usman
pkaaa77
{'name': 'usman', 'class': 19, 'roll_no': 'pkaaabb'}

In [ ]:
user1 = { "name" : "zain", "class" : 15, "subject" : "math"}
user2 = { "name" : "usman", "class" : 12, "subject" : "english"}
user3 = { "name" : "zaman", "class" : 15, "subject" : "URDU"}
user4 = { "name" : "duad", "class" : 17, "subject" : "islamic"}
user5 = { "name" : "shayan", "class" : 18, "subject" : "biology"}

print(user1["name"])
print(user2)
print(user3["class"])
print(user4["subject"])
print(user5["name"])

zain
{'name': 'usman', 'class': 12, 'subject': 'english'}
15
islamic
shayan